@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to bottom, #8246F3, #4B298D);
  /*background: url("/lines.png"), #BB86FC;*/
  /*background-repeat: no-repeat;*/
  background-size: 70%;
  background-position: top left;
  min-height: 100vh;
}
